minecraftinstance.json
.curseclient
/saves
usernamecache.json
usercache.json
realms_persistence.json
options.txt
/logs
/downloads
/.mixin.out
/crash-reports
emi.json
command_history.txt
kubejs/README.txt
kubejs/startup_scripts/main.js
kubejs/server_scripts/main.js
/local
kubejs/client_scripts/main.js
kubejs/assets/kubejs/textures/item/example_item.png
kubejs/assets/kubejs/textures/block/example_block.png

.probe
/.vscode
spyglass.json
fabricloader.log
fabricloader.log
data/fabricDefaultResourcePacks.dat
patchouli_data.json
mods/citresewn-1.2.2+1.21.jar.disabled_by_citresewn_neopatcher
mods/citresewn-1.2.2+1.21.jar
mods/.connector/patched_citresewn-1.2.2+1.21_mapped_moj_1.21.1.jar.input
mods/.connector/patched_citresewn-1.2.2+1.21_mapped_moj_1.21.1.jar
user-prefs.json
.customassets/title.bbmodel
fancymenu_data/last_world.fmdata
/profileImage
/cache
config/xaeropatreon.txt
/xaero/minimap
/xaero/world-map
/XaeroWaypoints_BACKUP240807
/simplebackups
TrashSlotSaveState.json
knownkeys.txt
*.bak
mods/.connector/patched_citresewn-1.2.2+1.21_mapped_moj_1.21.1.jar
mods/.connector/patched_citresewn-1.2.2+1.21_mapped_moj_1.21.1.jar.input
/screenshots
/dynamic-data-pack-cache
/dynamic-resource-pack-cache
fancymenu_data/buddy/buddy_leveling.json
fancymenu_data/buddy/buddy_save.json
